
body{
    overflow: hidden;
}
.success{
    position:  absolute ;
    animation:  success 5s ease-in-out ;
    box-sizing: border-box ;
    padding: 20px ;
    top: 50px ;
    border-radius: 10px ;
    right: -500px ;
    background: black ;
    color: white ;
    transition: ease .3s ;
}
@keyframes success {
    0%{
        right: -500px ;
    }
    10% {
        right: 50px ;
    }
    90%{
        right: 50px ;
    }
    100%{
        right: -500px ;
    }

}
.active{
    right: 50px;
}